.form-control {
    width: 90% !important;
}

.form-inline {
    justify-content: center;
}

.nav-item {
    display: flex;
    flex-direction: row;
}

.button-section {
    display: flex;
    justify-content: flex-end;
}
.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horizontal label {
    margin-bottom: 0;
}

.horizontal .form-control {
    margin: 8px;
}