.navbar-inner {
min-height: 50px;
}
.navbar .nav > li > a, .navbar .brand {
padding: 15px 15px 15px;
}
.navbar #botao-carrinho .btn{
margin-top: 0px;
}
#icones-dashboard .bloco-icone {
	border: 1px solid #E4E4E4;
	padding: 0px 20px 20px 20px;
}
#icones-dashboard .bloco-icone h4{
	border-bottom: 1px solid #E4E4E4;
	padding-bottom: 10px;
}
#icones-dashboard .bloco-icone .texto-bloco {
	margin-left: 10px;
	font-size: 16px;
}
.navbar-search {
	margin-top: 10px;
}
ul.nav-pills {
	font-size: 15px;
}
.nav-pills > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.table th.text-right, .table td.text-right {
	text-align: right;
}